{% extends 'base.html' %}
{% load bootstrap4 %}

{% block body %}
  <!-- 모든 post를 보여줌-->
  <div class="row justify-content-center">
    {% for post in posts %}
      <div class="card" style="width: 40rem;">
        <div class="card-header">
          <span>{{ post.user.username }}</span>
        </div>
        <img src="{{ post.image.url }}" class="card-img-top" alt="...">
        <div class="card-body">
          <p class="card-text">{{ post.content }}</p>
          <!-- 본인의 글만 삭제, 수정 버튼이 보이도록 -->
          {% if request.user == post.user %}
            <a class="btn btn-danger" href="{% url 'posts:delete' post.id %}">삭제</a>
            <a class="btn btn-success" href="{% url 'posts:update' post.id %}">수정</a>
          {% endif %}
          <form method="POST" action={% url 'posts:create_comments' post.id %}>
            {% csrf_token %}
            {% bootstrap_form comment_form %}
            <button type="submit" class="btn btn-warning">댓글 달기</button>
          </form>
          <div>
            {% for comment in post.comment_set.all %}
              <p>
                {{ comment.content }}
              </p>
            {% endfor %}
          </div>
        </div>
      </div>
    {% endfor %}
  </div>
{% endblock %}